:root {
}

#points td {
    border: black 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    max-width: 50px;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.td-info {
    width: 50px;
    height: 50px;
    text-align: center;
    max-width: 50px;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table-info {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 600px;
}
